In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt

import matplotlib as mpl
mpl.rcParams['font.sans-serif'] = ['SimHei']
mpl.rcParams['font.serif'] = ['SimHei']
import seaborn as sns
%matplotlib inline
p = sns.color_palette()
sns.set_style("darkgrid",{"font.sans-serif":['simhei', 'Arial']})

In [2]:
import os
data_dir = "D:/GRADUATE\BAIRONG/Review"
def csv_f(file_name):
    return os.path.join(data_dir,file_name)

df_profile_all = pd.read_csv(csv_f("profile_all.csv"))

In [3]:
alm_0 = pd.read_csv(csv_f("alm_0.csv"))
alm_3 = pd.read_csv(csv_f("alm_3.csv"))
alm_6 = pd.read_csv(csv_f("alm_6.csv"))
alm_9 = pd.read_csv(csv_f("alm_9.csv"))

E:\Programmer\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1,5,6,10,11,12,13,14,16,17,18,19,20,21,22,24,25,26,27,28,31,32,33,34,35,36,37,39,40,41,42,43,44,45,46,47,48,49,50,51,53,54,55,56,57,58) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
alm_3_ = alm_3.iloc[1:,:]

In [5]:
alm_6_ = alm_6.iloc[1:,:]

In [6]:
alm_9_ = alm_9.iloc[1:,:]

In [7]:
alm_0.rename(columns={'Unnamed: 0':'index_0'},inplace=True)
alm_3_.rename(columns={'Unnamed: 0':'index_3'},inplace=True)
alm_6_.rename(columns={'Unnamed: 0':'index_6'},inplace=True)
alm_9_.rename(columns={'Unnamed: 0':'index_9'},inplace=True)

E:\Programmer\Anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [8]:
alm_0['cus_num'] = alm_0['cus_num'].astype("str")
alm_3_['cus_num'] = alm_3_['cus_num'].astype("str")
alm_6_['cus_num'] = alm_6_['cus_num'].astype("str")
alm_9_['cus_num'] = alm_9_['cus_num'].astype("str")

E:\Programmer\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

E:\Programmer\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
E:\Programmer\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [9]:
# 删除
empty_cus_num = list()
with open(r"D:\GRADUATE\BAIRONG\Review\empty_cus_num.txt",'r') as f:
    for line in f.readlines():
        empty_cus_num.append(line.strip('\n'))
print(len(empty_cus_num))

21235

In [10]:
# 自定义转换函数
def to_float(value):
    """
    转换字符串/float等数字为float
    """
    if not pd.isnull(value):
        #print(value)
        new_value = np.float(value)
        # 如果是float的字符串，会出现错误，
        return new_value
    else:
        return value

# als_.iloc[:,12].apply(standardize).value_counts(dropna=False)

In [11]:
# 以下下需要进行类型转换，保证都是整型（次数），因为基本都属于
#
fe_to_float = ['cons_m3_JYDQ_num','cons_m3_JYDQ_pay','cons_m3_RYBH_pay','cons_m3_RYBH_num','cons_m3_MYYP_num','cons_m3_MYYP_pay','cons_m12_JYDQ_num','cons_m12_JYDQ_pay','cons_m12_MYYP_num','cons_m12_MYYP_pay','cons_m12_RYBH_pay','cons_m12_RYBH_num','cons_tot_m3_pay','cons_tot_m3_p_catenum','cons_tot_m3_num','cons_max_m3_num','cons_tot_m12_pay','cons_tot_m12_p_catenum','cons_tot_m12_num','cons_max_m12_num','cons_tot_m3_visits','cons_tot_m3_v_catenum','cons_tot_m12_visits','cons_tot_m12_v_catenum','cons_max_m12_pay','cons_max_m3_pay']
for fe in fe_to_float:
    alm_0[fe] =  alm_0[fe].apply(to_float)
    alm_3_[fe] =  alm_3_[fe].apply(to_float)
    alm_6_[fe] =  alm_6_[fe].apply(to_float)
    alm_9_[fe] =  alm_9_[fe].apply(to_float)

E:\Programmer\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

E:\Programmer\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
E:\Programmer\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
# 统一好数据格式，首先进行drop处理，干掉大量缺失的数据
# 删除
empty_cus_num = list()
with open(r"D:\GRADUATE\BAIRONG\Review\empty_cus_num.txt",'r') as f:
    for line in f.readlines():
        empty_cus_num.append(line.strip('\n'))
print(len(empty_cus_num))

21235

In [13]:
alm_0_keep = alm_0.drop(alm_0[alm_0['cus_num'].isin(empty_cus_num)].index)
alm_3_keep = alm_3_.drop(alm_3_[alm_3_['cus_num'].isin(empty_cus_num)].index)
alm_6_keep = alm_6_.drop(alm_6_[alm_6_['cus_num'].isin(empty_cus_num)].index)
alm_9_keep = alm_9_.drop(alm_9_[alm_9_['cus_num'].isin(empty_cus_num)].index)

In [14]:
len(alm_0_keep)

66870

In [15]:
len(alm_3_keep)

72024

In [16]:
alm_0_keep['cons_m3_JYDQ_num'].value_counts(dropna=False)

NaN      32432
0.0      26720
2.0       1782
4.0       1714
8.0        775
         ...
35.0         1
53.0         1
41.0         1
85.0         1
283.0        1
Name: cons_m3_JYDQ_num, Length: 75, dtype: int64

In [17]:
# 对float类型的数据，以0.0填充nan
fe_to_float = ['cons_m3_JYDQ_num','cons_m3_JYDQ_pay','cons_m3_RYBH_pay','cons_m3_RYBH_num','cons_m3_MYYP_num','cons_m3_MYYP_pay','cons_m12_JYDQ_num','cons_m12_JYDQ_pay','cons_m12_MYYP_num','cons_m12_MYYP_pay','cons_m12_RYBH_pay','cons_m12_RYBH_num','cons_tot_m3_pay','cons_tot_m3_p_catenum','cons_tot_m3_num','cons_max_m3_num','cons_tot_m12_pay','cons_tot_m12_p_catenum','cons_tot_m12_num','cons_max_m12_num','cons_tot_m3_visits','cons_tot_m3_v_catenum','cons_tot_m12_visits','cons_tot_m12_v_catenum','cons_max_m12_pay','cons_max_m3_pay']
for fe in fe_to_float:
    alm_0_keep[fe].fillna(0.0,inplace=True)
    alm_3_keep[fe].fillna(0.0,inplace=True)
    alm_6_keep[fe].fillna(0.0,inplace=True)
    alm_9_keep[fe].fillna(0.0,inplace=True)

In [18]:
# 对object类型数据，单独作为一个类型
def fillna_with_default(alm_i_keep):
    alm_i_keep['cons_time_recent'].fillna('T0',inplace=True)
    alm_i_keep['cons_max_m3_paycate'].fillna('C0',inplace=True)
    alm_i_keep['cons_max_m12_paycate'].fillna('C0',inplace=True)
    alm_i_keep['cons_cont'].fillna('M0',inplace=True)

fillna_with_default(alm_0_keep)
fillna_with_default(alm_3_keep)
fillna_with_default(alm_6_keep)
fillna_with_default(alm_9_keep)

In [19]:
# 对alm_0,3,6,9的各列进行重命名
def rename_col(i):
    keep_col = ['cons_m3_JYDQ_num','cons_m3_JYDQ_pay','cons_m3_RYBH_pay','cons_m3_RYBH_num','cons_m3_MYYP_num','cons_m3_MYYP_pay','cons_m12_JYDQ_num','cons_m12_JYDQ_pay','cons_m12_MYYP_num','cons_m12_MYYP_pay','cons_m12_RYBH_pay','cons_m12_RYBH_num','cons_tot_m3_pay','cons_tot_m3_p_catenum','cons_tot_m3_num','cons_max_m3_num','cons_tot_m12_pay','cons_tot_m12_p_catenum','cons_tot_m12_num','cons_max_m12_num','cons_tot_m3_visits','cons_tot_m3_v_catenum','cons_tot_m12_visits','cons_tot_m12_v_catenum','cons_max_m12_pay','cons_max_m3_pay',
             'cons_time_recent','cons_max_m3_paycate','cons_max_m12_paycate','cons_cont']
    rename_col_dict = {}
    for col in keep_col:
        rename_col_dict[col] = col + "_%s"%i
    return rename_col_dict

In [20]:
# 定义函数用于萃取cus_num和其他30个特征即可
def get_rename_col_list(i):
    keep_col = ['cons_m3_JYDQ_num','cons_m3_JYDQ_pay','cons_m3_RYBH_pay','cons_m3_RYBH_num','cons_m3_MYYP_num','cons_m3_MYYP_pay','cons_m12_JYDQ_num','cons_m12_JYDQ_pay','cons_m12_MYYP_num','cons_m12_MYYP_pay','cons_m12_RYBH_pay','cons_m12_RYBH_num','cons_tot_m3_pay','cons_tot_m3_p_catenum','cons_tot_m3_num','cons_max_m3_num','cons_tot_m12_pay','cons_tot_m12_p_catenum','cons_tot_m12_num','cons_max_m12_num','cons_tot_m3_visits','cons_tot_m3_v_catenum','cons_tot_m12_visits','cons_tot_m12_v_catenum','cons_max_m12_pay','cons_max_m3_pay',
             'cons_time_recent','cons_max_m3_paycate','cons_max_m12_paycate','cons_cont']
    res = ['cus_num']
    keep_col_i = []
    for col in keep_col:
        keep_col_i.append(col + "_%s" % i)
    res.extend(keep_col_i)
    return res

In [21]:
alm_0_keep_r = alm_0_keep.rename(columns=rename_col(0))

In [22]:
alm_3_keep_r = alm_3_keep.rename(columns=rename_col(3))
alm_3_keep_r_distill = alm_3_keep_r[get_rename_col_list(3)]

alm_6_keep_r = alm_6_keep.rename(columns=rename_col(6))
alm_6_keep_r_distill = alm_6_keep_r[get_rename_col_list(6)]

alm_9_keep_r = alm_9_keep.rename(columns=rename_col(9))
alm_9_keep_r_distill = alm_9_keep_r[get_rename_col_list(9)]

In [23]:
#开始进行合并
alm_all_keep_r_distill = pd.merge(alm_0_keep_r, alm_3_keep_r_distill, how='inner', on=['cus_num'])
alm_all_keep_r_distill = pd.merge(alm_all_keep_r_distill, alm_6_keep_r_distill, how='inner', on=['cus_num'])
alm_all_keep_r_distill = pd.merge(alm_all_keep_r_distill, alm_9_keep_r_distill, how='inner', on=['cus_num'])

In [24]:
alm_all_keep_r_distill

,index_0,cus_num,id,cell,name,flagy,custApiCode,user_date,swift_number,cus_username,...,cons_tot_m3_visits_9,cons_tot_m3_v_catenum_9,cons_tot_m12_visits_9,cons_tot_m12_v_catenum_9,cons_max_m12_pay_9,cons_max_m3_pay_9,cons_time_recent_9,cons_max_m3_paycate_9,cons_max_m12_paycate_9,cons_cont_9
0,0,1,13032419870423##1#,1333333####,宁##,1,3000983,2017-04-26,4000056_20190606101948_6234,yejingyou_test,...,1996.0,24.0,3381.0,24.0,10000.0,7000.0,T1,C17,C17,M3
1,1,10,13040219940711##2#,1508100####,蔺##,1,3000983,2017-10-26,4000056_20190606101948_3022,yejingyou_test,...,1743.0,16.0,11259.0,22.0,20000.0,1000.0,T1,C5,C7,M4
2,2,100,13043119850415##3#,1383208####,桑#,1,3000983,2017-12-09,4000056_20190606101952_4792,yejingyou_test,...,100.0,15.0,577.0,15.0,800.0,200.0,T1,C26,C5,M4
3,3,1000,13092519900220##2#,1346376####,刘##,1,3000983,2017-12-05,4000056_20190606102032_3642,yejingyou_test,...,560.0,8.0,1788.0,15.0,50000.0,10000.0,T1,C7,C7,M4
4,4,10000,14270319660329##4#,1363359####,吴##,0,3000983,2017-05-10,4000056_20190606102626_0291,yejingyou_test,...,103.0,6.0,355.0,7.0,80.0,1.0,T2,C26,C26,M0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66865,88098,78689,53038119990923##1#,1820679####,刘##,0,3000013,2018-08-09,4000056_20190606110921_1932,yejingyou_test,...,556.0,8.0,1330.0,11.0,30000.0,10000.0,T1,C24,C24,M4
66866,88099,7868b,35062819810220##6#,1395969####,陈##,0,3100122,2017-07-18,4000056_20190606111710_4914,yejingyou_test,...,1088.0,18.0,2503.0,19.0,9000.0,4000.0,T1,C7,C24,M4
66867,88100,7869,32083119931014##3#,1865240####,闵##,0,3000983,2018-01-24,4000056_20190606102504_9565,yejingyou_test,...,134.0,5.0,4089.0,21.0,20000.0,600.0,T1,C7,C7,M4
66868,88101,78690,61032619910208##6#,1839276####,刘##,0,3000013,2018-08-09,4000056_20190606110921_3412,yejingyou_test,...,30.0,6.0,1886.0,10.0,600.0,80.0,T1,C26,C29,M2
66869,88104,78693,42900520000719##1#,1354596####,肖##,0,3000013,2018-08-09,4000056_20190606110921_0241,yejingyou_test,...,78.0,7.0,339.0,10.0,2000.0,1.0,T2,C29,C23,M0

In [ ]:
# 填充了0.0和M0 T0 M0

In [25]:
alm_all_keep_r_distill.to_csv(r"D:/GRADUATE\BAIRONG/Review/alm_all_keep_r_distill.csv")